name: Release

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Setup pnpm 7
        uses: pnpm/action-setup@v2
        with:
          version: 7
      - name: Setup Node.js 18.x
        uses: actions/setup-node@v2
        with:
          node-version: 18.x
      - name: Install Dependencies
        run: pnpm i
      - name: Run ESLint
        run: pnpm run lint

  build:
    needs: eslint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Setup pnpm 7
        uses: pnpm/action-setup@v2
        with:
          version: 7
      - name: Setup Node.js 18.x
        uses: actions/setup-node@v2
        with:
          node-version: 18.x
      - name: Install Dependencies
        run: pnpm i --no-frozen-lockfile
      - name: Build
        run: pnpm run build

  release:
    name: Release
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Setup pnpm 7
        uses: pnpm/action-setup@v2
        with:
          version: 7
      - name: Setup Node.js 18.x
        uses: actions/setup-node@v2
        with:
          node-version: 18.x
      - name: Install Dependencies
        run: pnpm i
      - name: Build
        run: pnpm run build
      - name: Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm changeset:release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.BLISS_NPM_TOKEN }}
